{{>layouts/header}}
<div class="col-10">
    <form action="/hospitals/list" method="get">
        <div class="mb-3">
            <label for="area" class="form-label">지역명 : </label>
            {{#area}}
                <input type="text" name="area" style="width: 300px" value="{{area}}">
            {{/area}}
            {{^area}}
                <input type="text" name="area" style="width: 300px">
            {{/area}}
            <button type="submit" class="btn btn-primary" style="margin-top: 0px;">검색</button>
        </div>
    </form>
    <div>
        <h5>검색 결과 : {{searchCount}} 개</h5>
    </div>
    <table class="table" style="margin-top: 20px; margin-bottom: 50px;">
        <thead class="table-info">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">병원명</th>
            <th scope="col">도로명 주소</th>q
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {{#hospitals}}
            <tr>
                <th>{{id}}</th>
                <td><a href="/hospitals/{{id}}">{{hospitalName}}</a></td>
                <td>{{roadNameAddress}}</td>
            </tr>
        {{/hospitals}}
        </tbody>
    </table>
</div>
<ul class="pagination justify-content-center">
    <!-- area가 존재하면 => 검색 o -->
    {{#area}}
    <li class="page-item">
        <a class="page-link" href="?area={{area}}&page={{previous}}">Previous</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?area={{area}}&page={{next}}">Next</a>
    </li>
    {{/area}}
    </li>
    <!-- area가 존재하지 않으면 => 검색 x -->
    {{^area}}
    <li class="page-item">
        <a class="page-link" href="?page={{previous}}">Previous</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{next}}">Next</a>
    </li>
    {{/area}}
</ul>
{{>layouts/footer}}