{{>layouts/header}}
<h1>여기는 Edit 페이지 입니다.</h1>
{{#article}}
<form action="/articles/{{id}}" method="post">
    <input type="hidden" name="_method" value="put" />
    <div>id : {{id}}</div>
    <input type="text" name="title" value="{{title}}">
    <br/><br/>
    <textarea rows="3" name="content">{{content}}</textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="/articles/{{id}}" class="btn btn-success">1개 조회</a>
<a href="/articles/list" class="btn btn-warning">목록</a>
{{/article}}
{{>layouts/footer}}
<style>
    .btn {
        margin: 10px;
    }
</style>