{{>layouts/header}}
<h2>Register Page</h2>
<form action="/articles" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Title : </label>
        <input type="text" name="title"><br/>
        <label for="content" class="form-label">Content : </label>
        <textarea rows="3" name="content"></textarea>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/articles" class="btn btn-danger">back</a>
        </div>
    </div>
</form>
{{>layouts/footer}}
<style>
    .form-label {
        width: 70px;
    }
</style>